html {
	background-color: #23171f;
	font-family: "Courier New", monospace;
}

h1 {
	color: #ffe3b7;
	font-weight: bold;
	letter-spacing: 1px;
}

p {
	color: #faeee9;
	font-family: "Verdana", sans-serif;
	line-height: 150%;
}

button {
	background-color: #a35b5e;
	border: none;
	border-radius: 5px;

	font-size: 1em;
	font-family: "Courier New", monospace;
	font-weight: bold;
	letter-spacing: 1px;

	transition-duration: 0.2s;

	padding: 3px;
}

button:hover {
	background-color: #e2caa3;
}

.view-split {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 636px)
{
	.view-split {
		flex-direction: row;
		align-items: flex-start;
	}
}