html {
	background-color: #23171f;
	font-family: "Courier New", monospace;
}

h1 {
	color: #ffe3b7;
	font-weight: bold;
	letter-spacing: 1px;
}

h2 {
	color: #ffe3b7;
	font-weight: bold;
	letter-spacing: 1px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 0px;

	color: #fbcca2;
}

h4 {
	margin-top: 15px;
	margin-bottom: 0px;

	color: #f6b393;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 1px;
}

p {
	margin-top: 5px;

	color: #faeee9;
	font-family: "Verdana", sans-serif;
	line-height: 150%;
}

a {
	color: #e88285;

	transition-duration: 0.2s;
}

a:hover {
	color: #ffe3b7;
}

li {
	color: #faeee9;
}

strong {
	color: #ffe3b7;
	font-family: "Courier New", monospace;
	font-size: 1.2em;
}

button {
	background-color: #a35b5e;
	border: none;
	border-radius: 5px;

	font-size: 1em;
	font-family: "Courier New", monospace;
	font-weight: bold;
	letter-spacing: 1px;

	transition-duration: 0.2s;

	padding: 3px;
}

button:hover {
	background-color: #e2caa3;
}

.view-split {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 636px)
{
	.view-split {
		flex-direction: row;
		align-items: flex-start;
	}
}