.content-grid {
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.content-space {
	width: 100%;

	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 636px)
{
	.content-grid {
		flex-direction: row;
	}
}