.content-grid {
	display: flex;
	flex-direction: column;

	width: 100%;
	flex: auto;
}

.content-space {
	display: flex;
	flex-direction: column;

	width: 100%;
	flex: auto;
}

.grid-item {
	display: flex;
	flex-direction: column;

	gap: 10px;
}

@media screen and (min-width: 800px)
{
	.content-grid {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.grid-item {
		width: calc((100% / 2) - (2 * 30px));
	}
}

@media screen and (min-width: 1000px)
{
	.grid-item {
		width: calc((100% / 3) - (2 * 30px));
	}
}