.nav-space {
	display: flex;
	flex-direction: column;

	height: auto;
	width: 100%;

	flex-shrink: 0;
}

.nav-square {
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	height: auto;

	background-color: #140d11;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}

.nav-item {
	padding: 8px 20px;
}

.nav-picture {
	width: 30%;
	height: auto;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.3em;

	margin: -1px;
}

.nav-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.nav-button {
	width: 100%;

	color: #000000;
	text-decoration: none;
	text-align: center;

	background-color: #a35b5e;
	border: none;
	border-radius: 5px;

	font-size: 1em;
	font-family: "Courier New", monospace;
	font-weight: bold;
	letter-spacing: 1px;

	transition-duration: 0.2s;

	padding: 3px 0px;
}

.nav-button:hover {
	color: #000000;

	background-color: #e2caa3;
}

.social-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-button {
	color: #ffe3b7;

	transition-duration: 0.2s;

	padding: 0px 10px;
}

.social-button:hover {
	color: #e88285;
}

.toc-link {
	text-decoration: none;
}

.toc-link:hover {
	color: #e88285;
}

.toc-top {
	color: #ffe3b7;
}

.toc-bot {
	color: #fbcca2;
}

ul {
	padding-left: 20px;
}

@media screen and (min-width: 636px)
{
	.nav-space {
		height: 100%;
		width: 20%;
	}
}