.nav-space {
	height: auto;
	width: 100%;
}

.nav-square {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: auto;

	background-color: #140d11;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}

.nav-item {
	padding: 8px 20px;
}

.nav-picture {
	width: 30%;
	height: auto;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.3em;

	margin: -1px;
}

.nav-buttons {
	display: block;
	width: 100%;
}

.nav-button {
	width: 100%;
}

.social-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-button {
	color: #ffe3b7;

	transition-duration: 0.2s;

	padding: 0px 10px;
}

.social-button:hover {
	color: #e88285;
}

@media screen and (min-width: 636px)
{
	.nav-space {
		height: 100%;
		width: 20%;
		position: fixed;
	}
}