.post-shape {
	background-color: #140d11;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}

.post-content {
	height: 100%;

	text-decoration: none;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post-title {
	color: #ffe3b7;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 1px;
}

.post-date {
	color: #817f7f;
	font-style: italic;
}

.post-image {
	height: auto;
	width: 100%;
}

.post-cont {
	text-align: center;
	color: #ffe3b7;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
}

.post-desc {
	flex-grow: 1;

	color: #faeee9;
	font-family: "Verdana", sans-serif;
	line-height: 150%;
}

.post-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.post-tag {
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding: 3px 6px;
	margin: 2px;

	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
}

.post-tag:hover {
	color: #000000;

	background-color: #faeee9;
	border-color: #ffe3b7;
}

.post-tag-team {
	background-color: #85bea3;
	border-color: #5d9e90;
}

.post-tag-status {
	background-color: #c7c086;
	border-color: #9d9e5d;
}

.post-tag-tools {
	background-color: #bea185;
	border-color: #9e875d;
}

.post-tag-languages {
	background-color: #be8591;
	border-color: #9e5d73;
}

.post-tag-skills {
	background-color: #8b85be;
	border-color: #645d9e;
}

.project-time {
	color: #faeee9;
}

.art-data {
	display: flex;
	flex-direction: column;
}

.art-infopiece {
	color: #c5b9b9;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 75vw;
}

.image-group {
	display: flex;
	flex-direction: column;
	justify-content: start;

	gap: 20px;
}

.youtube-embed {
	width: 100%;

	aspect-ratio: 16 / 9;
}

.itch-embed {
	width: auto;
	height: 175px;
}

@media screen and (min-width: 800px)
{
	.spacious {
		padding: 30px 10%;
	}

	.tags-reverse {
		flex-wrap: wrap-reverse;
	}

	.art-data {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}

	.image {
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;

		width: auto;
		max-width: 100%;
		max-height: 300px;
	}

	.image-group {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.itch-embed {
		width: 50%;
	}
}