---
const { link } = Astro.props
---

<div class="nav-item nav-text">
This project's source is free to browse on <strong>GitHub</strong>.
</div>
<div id="nav-buttons" class="nav-item nav-buttons">
	<a href=`${link}` class="nav-button">repo</a>
</div>