---
import { Image } from 'astro:assets';
import IconCode from '@lucide/astro/icons/code';
import IconMail from '@lucide/astro/icons/mail';
import IconGame from '@lucide/astro/icons/gamepad-2';

import '../styles/navspace.css'

import profile_sheep from '../media/_main/profile_sheep.png'
---

<div id="nav-space" class="nav-space">
	<div id="nav-square" class="nav-square">
		<Image class="nav-item nav-picture" src={profile_sheep} alt="a cute little sheep." />
		<div class="nav-item">
			<h1 class="title">rose</h1>
			<h1 class="title">haired</h1>
			<h1 class="title">sheep</h1>
		</div>
		<div id="nav-buttons" class="nav-item nav-buttons">
			<button class="nav-button" type="button" onclick="window.location.href = '/';">home</button>
			<button class="nav-button" type="button" onclick="window.location.href = '/projects';">projects</button>
		</div>
		<div id="social-buttons" class="nav-item social-buttons">
			<IconCode class="social-button" onclick="window.open('https:\/\/github.com/rosehairedsheep','_blank');"/>
			<IconMail class="social-button" onclick="window.open('mailto:pinkhairedsheep@gmail.com','_blank');"/>
			<IconGame class="social-button" onclick="window.open('https:\/\/rosehairedsheep.itch.io','_blank');"/>
		</div>
	</div>
</div>