---
import '../styles/contents.css'

import Base from '../layouts/base.astro'

const { page_title } = Astro.props
---

<Base page_title={page_title}>
	<div class="content-space">
		<slot />
	</div>
</Base>